<%= link_to "Newest First", questions_path, remote: true, id: "newest", :method => :get, :action => 'index'%>
<%= link_to "Highest Voted", questions_path, remote: true, id: "highestvoted"%>
<%= link_to "Trending", questions_path, remote: true, id: "trending"%>

<div class="questionsdisplay">
  <%= render :partial => 'questions_list', :locals => {:questions => @questions} %>
</div>
